<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icono_agenda"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_agenda"
        android:supportsRtl="true"
        android:theme="@style/Theme.InscribeLifes"
        tools:targetApi="31">
        <activity
            android:name=".Contactos.Actualizar_contacto"
            android:exported="false" />
        <activity
            android:name=".Contactos.Listar_Contactos"
            android:exported="false" />
        <activity
            android:name=".Contactos.Detalle_Contacto"
            android:exported="false" />
        <activity
            android:name=".Contactos.Agregar_Contacto"
            android:exported="false" />
        <activity
            android:name=".ActualizarPass.ActulizarPassUsuario"
            android:exported="false" />
        <activity
            android:name=".Perfil.Editar_imagen_perfil"
            android:exported="false" />
        <activity
            android:name=".Detalle.Detalle_Nota"
            android:exported="false" />
        <activity
            android:name=".ActulizarNota.Actualizar_Nota"
            android:exported="false" />
        <activity
            android:name=".Perfil.Perfil_Usuario"
            android:exported="false" />
        <activity
            android:name=".NotasImportantes.Notas_Importantes"
            android:exported="false" />
        <activity
            android:name=".ListarNotas.Listar_Notas"
            android:exported="false" />
        <activity
            android:name=".AgregarNota.Agregar_Nota"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Pantalla_De_Bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>